:root {
    --blue: #1e90ff;
    --white: #f6f6f6;

}

body {
    background-color: var(--blue); 
    color: red; 
    text-align: center; 
    text-transform: uppercase; 
    letter-spacing: 3px; 
}

header {
    background-color: 
    blanchedalmond;
    color: var(--blue);
}

main {
    background-color: burlywood;
    color: darkgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: lowercase;
}
/* selecting element */
footer {
    height: 300px;
    background-color: darkorchid;
    font-size: 40px;
    font-family: monospace;
    color: beige;
    text-align: right !important;
}
/* here im selecting a class  */
.menu-items {
    background-color: peru;
}
/* here I'm selecting an ID */
#first-p {
    color: blue
}

.all-spans > span > strong {
    background-color: plum;
}

button {
    color: brown;
    /* padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px; */

    padding: 10px 40px;
    margin-top: 20px;

    border-radius: 10px;
    border-color: #666;
    /* background: rgb(2,0,36);
    background: linear-gradient(
        90deg, 
        rgba(2,0,36,1) 0%, 
        rgba(9,9,121,1) 35%, 
        rgba(0,212,255,1) 79%); */
    
}

button:hover {
    background-color: hotpink;
}

button:focus {
    background-color: darkcyan;
}

